body{
    background-color: brown;
}
.container{
    margin-left: 450px;
    background: gray center center no-repeat;
    background-size: cover;
    width: 400px;
    height: 75vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

.form-design{
    background-color: #f8f4e5;
    background: #ffa580;
    padding: 50px 100px;
    border: 2px solid rgba(0,0,0,1);
}

input{
    display: block;
    width: 100%;
    font-size: 14pt;
    line-height: 14pt * 2;
    font-family: 'Fjalla One';
    margin-bottom: 14pt * 2;
    border: none;
    border-bottom: 5px solid rgba(0,0,0,1);
    background: #f8f4e5;
    min-width: 250px;
    padding-left: 5px;
    outline: none;
    color: rgba(0,0,0,1);
}
input:focus{
    border-bottom: 5px solid #ffa580;
}

button{
    display: block;
    margin: 0 auto;
    line-height: 50pt * 2;
    padding: 0 20px;
    background:  #ffa580;
    letter-spacing: 2px;
    transition: .2s all ease-in-out;
    outline: none;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 3px 3px 1px #95a4ff, 3px 3px 1px 1px rgba(0,0,0,1);
}